h1 {
  text-align: center;
}

h1, h2 {
  font-family:monospace;
  text-decoration: underline;
  margin-bottom: 20px;
}

.wrapper {
  width: 80%;
  margin-left: 10%;
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  text-align: right;
}

footer {
  margin-bottom: 100px;
}

@media only screen and (max-width: 1120px) {
  .wrapper{
    width: 100%;
    margin-left: 0%;
  }
}
